// Used on the server - Welcome screen
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background: url('images/welcome.png') repeat;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.welcome-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}
