<!DOCTYPE html>
<html>
  <head>
    <title>Stash - track your financial goals.</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  </head>
  <body>
    <div class="background-image"></div>
    <div class="welcome-container">
      <h1 class="headline">Set your financial goals</h1>
      <div>
        <a class="btn-start" href='/login'>Start stashing!</a>
      </div>  
    </div>
  </body>
</html>
