<!DOCTYPE html>
<html>
  <head>
    <title>ScroogeVault - track your financial goals.</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  </head>
  <body>
    <div class="background-image"></div>
    <div class="welcome-container">
      <h1 class="headline">You will receive sign in token</h1>
      <form class="form-signin" action="/sendtoken" method="POST">
        <br><input name="user" type="email" placeholder="Enter your email here">
        <br><input class="btn-start" type="submit" value="Sign in">
      </form>
    </div>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76291954-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
