<!DOCTYPE html>
<html>
  <head>
    <title>ScroogeVault - track your financial goals.</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  </head>
  <body>
    <div class="background-image"></div>
    <div class="welcome-container">
      <h1 class="headline">Email sent!</h1>
      <p>Please check your inbox and click on the link provided</p> 
    </div>
  </body>
</html>
